html {
    scroll-behavior: smooth;
}

body {
    background-image:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.6)), url(https://images.ctfassets.net/nnkxuzam4k38/4lBzkVBmJ0qvFJ90SJHEdV/7645fc49f7f1fb4a8c31a94fc4c97f4d/black-particles-background.png);
    background-position:center, 0px center;
    background-repeat:repeat;
    background-size:100% auto;
    background-color:black;
    animation: Equate 120s linear infinite;
    user-select:none;
    height:100vh;
    margin:0;
}

@keyframes Equate {
    0%{
        background-position:center, 0px center;
    }
    50%{
        background-position:center, -2000px center;
    }
    100%{
        background-position:center, 0px center;
    }
}

@keyframes openingAnimation {
    from {
        opacity:0;
        transform: translateY(15px);
    }
    to {
        opacity:1;
        transform: translateY(0px);
    }
}

.An-eng, .Myname, .Building, .engMe, .scroll1 {
    opacity:0;
    animation: openingAnimation 2s forwards;
}

.An-eng {
    color:rgb(117, 114, 114);
    position:absolute;
    font-weight:300;
    letter-spacing:1px;
    top:200px;
    left:10%;
    animation-delay:0.2s;
}

.Myname {
    font-family:'Times New Roman', Times, serif;
    font-size:4rem;
    font-weight:500;
    color:white;
    position:absolute;
    top:220px;
    left:80px;
    animation-delay:0.4s;
}
.left-top-fixed {
    position:fixed;
    color:white;
    top:-7px;
    left:13px;
    text-decoration:none;
    cursor:pointer;
}
.left-top-fixed:hover {
    text-decoration:underline;
}
.right-top-fixed {
    color:rgb(117, 114, 114);
    font-family:'inter';
    font-weight:400;
    font-size:18px;
    position:fixed;
    top:4px;
    right:20px;
    transition: all 0.1s ease-in-out;
    cursor:pointer;
}
.right-top-fixed:hover {
    color:rgb(205, 202, 202)
}

.Building {
    position:absolute;
    color:rgb(117,114,114);
    top:330px;
    left:80px;
    font-size:2rem;
    font-weight:400;
    animation-delay:0.5s;
}

.engMe {
    position:absolute;
    font-size:20px;
    font-family: 'Inter';
    color:rgb(117, 114, 114);
    font-weight:400;
    left:80px;
    top:420px;
    letter-spacing:1px;
    max-width:480px;
    animation-delay:0.7s;

}
.scroll1 {
    color:rgb(226, 221, 221);
    position:absolute;
    top:600px;
    left:90px;
    font-size:25px;
    letter-spacing:1px;
    animation-delay:0.9s;
}

.box2 {
    margin-top:20px;
}

/