html {
    scroll-behavior: smooth;
}

body {
    background-image:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.6)), url(https://images.ctfassets.net/nnkxuzam4k38/4lBzkVBmJ0qvFJ90SJHEdV/7645fc49f7f1fb4a8c31a94fc4c97f4d/black-particles-background.png);
    background-position:center, 0px center;
    background-repeat:repeat;
    background-size:100% auto;
    background-color:black;
    animation: Equate 120s linear infinite;
    user-select:none;
    height:100vh;
    margin:0;
}

@keyframes Equate {
    0%{
        background-position:center, 0px center;
    }
    50%{
        background-position:center, -2000px center;
    }
    100%{
        background-position:center, 0px center;
    }
}

@keyframes openingAnimation {
    from {
        opacity:0;
        transform: translateY(15px);
    }
    to {
        opacity:1;
        transform: translateY(0px);
    }
}


/* Homepage */


.An-eng, .Myname, .Building, .engMe, .scroll1 {
    opacity:0;
    animation: openingAnimation 2s forwards;
}

.An-eng {
    font-family:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color:rgb(117, 120, 122);
    position:absolute;
    font-weight:100;
    letter-spacing:1.5px;
    top:200px;
    left:10%;
    animation-delay:0.2s;
}

.Myname {
    font-family:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size:4rem;
    font-weight:400;
    color:white;
    position:absolute;
    top:220px;
    left:80px;
    animation-delay:0.25s;
}

.left-top-fixed {
    position:fixed;
    color:white;
    font-weight:300;
    font-size:21px;
    top:20px;
    left:17px;
    font-family:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-decoration:none;
    cursor:pointer;
    z-index:1;
}
.left-top-fixed:hover {
    text-decoration:none;
}

.right-top-fixed {
    font-family:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color:rgb(117, 120, 122);
    font-weight:100;
    font-size:18px;
    position:fixed;
    top:4px;
    right:30px;
    transition: all 0.1s ease-in-out;
    cursor:pointer;
    z-index:1;
}

.right-top-fixed:hover {
    color:rgb(205, 202, 202)
}


/* Top a hrefs */



.profile {
    font-family:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color:rgb(117, 120, 122);
    font-weight:100;
    font-size:18px;
    position:fixed;
    top:20px;
    left:34.5%;
    text-decoration:none;
    transition:all 0.15s ease-in-out;
    z-index:1;
}

.hobbies {
    font-family:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color:rgb(117, 120, 122);
    font-weight:100;
    font-size:18px;
    position:fixed;
    top:20px;
    left:44%;
    text-decoration:none;
    transition: all 0.15s ease-in-out;
    z-index:1;
}

.work {
    font-family:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color:rgb(117, 120, 122);
    font-weight:100;
    font-size:18px;
    position:fixed;
    top:20px;
    right:44%;
    text-decoration:none;
    transition: all 0.15s ease-in-out;
    z-index:1;
}

.contact {
    font-family:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color:rgb(117, 120, 122);
    font-weight:100;
    font-size:18px;
    position:fixed;
    top:20px;
    right:34%;
    text-decoration:none;
    transition: all 0.15s ease-in-out;
    z-index:1;
}

.contact:hover, .profile:hover, .hobbies:hover, .work:hover {
    color:white;
    letter-spacing:2px;
    transform:translateY(10px);
    transform:scale(1.02);
}

.Building {
    font-family:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    position:absolute;
    color:rgb(117,114,114);
    top:330px;
    left:80px;
    font-size:2rem;
    font-weight:300;
    animation-delay:0.3s;
}

.engMe {
    font-family:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    position:absolute;
    font-size:20px;
    color:rgb(117, 120, 122);
    font-weight:200;
    left:80px;
    top:420px;
    letter-spacing:1px;
    max-width:480px;
    animation-delay:0.4s;

}
.scroll1 {
    font-family:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color:rgb(117, 120, 122);
    position:absolute;
    top:600px;
    left:90px;
    font-size:21px;
    letter-spacing:2px;
    animation-delay:0.6s;
    font-weight:200;
}


/* Profile */


.box2 {
    margin-top:700px;
    margin-bottom:400px;
}

.prof1 {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: rgb(117, 120, 122);
    position:absolute;
    margin-top: 150px;;
    left:100px;
    font-size:1.2rem;
    letter-spacing:2px;
    font-weight:200;

}

.Ilike {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    position:absolute;
    right:180px;
    margin-top:220px;
    max-width:700px;
    color:rgb(250, 248, 248);
    font-weight:300;
    font-size:2.5rem;
}
.ilikedown {
    font-family:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    position:absolute;
    font-weight:200;
    margin-top: 340px;
    right:280px;
    max-width:600px;
    font-size:1.2rem;
    letter-spacing:1px;
    color:rgb(117, 120, 122)
}
.why {
    color:white;
}


/* Subjects Of Interest */


.maths {
    font-weight:200;
    font-family:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color:rgb(117,120,122);
    letter-spacing:1.5px;
    position:absolute;
    margin-top:500px;
    right:670px;
    display:flex;
    flex-direction:column;
    gap:15px;
}
.Mathsqual {
    color:white;
}
.physics {
    font-weight:200;
    font-family:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color:rgb(117,120,122);
    letter-spacing:1.5px;
    position:absolute;
    margin-top:500px;
    right:350px;
    display:flex;
    flex-direction:column;
    gap:15px;
}
.Physicsqual {
    color:white;
}

.code {
    font-weight:200;
    font-family:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color:rgb(117,120,122);
    letter-spacing:1.5px;
    position:absolute;
    margin-top:500px;
    right:100px;
    display:flex;
    flex-direction:column;
    gap:15px;
}
.codequal {
    color:white;
}


/* Leadership experience */


.leadership {
    position:absolute;
    font-family:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size:23px;
    font-weight:300;
    color:white;
    margin-top:310px;
    left:100px;
    display:flex;
    flex-direction:column;
    gap:13px;
    max-width:370px;
}
.LP {
    color:rgb(117,120,122);
    font-size:19px;
}


/* Extracurricullar Activites */





/* Hobbies */


