body {
    background-image:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.6)), url(https://images.ctfassets.net/nnkxuzam4k38/4lBzkVBmJ0qvFJ90SJHEdV/7645fc49f7f1fb4a8c31a94fc4c97f4d/black-particles-background.png);
    background-position:center, 0px center;
    background-repeat:repeat;
    background-size:100% auto;
    background-color:black;
    animation: Equate 60s linear infinite;
    user-select:none;
    height:100vh;
    margin:0;
}

@keyframes Equate {
    0%{
        background-position:center, 0px center;
    }
    100%{
        background-position:center, -2000px center;
    }
}

.Myname {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    position:absolute;
    top:42%;
    left:36%;
}
.left-top-fixed {
    position:absolute;
    color:white;
    top:-7px;
    left:13px;
    text-decoration:none;
    cursor:pointer;
}
.left-top-fixed:hover {
    text-decoration:underline;
}
.right-top-fixed {
    color:rgb(124, 120, 120);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:14px;
    position:fixed;
    top:4px;
    right:20px;
}